:root {
  font-family: 'Sen Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --colour-main: rgba(204, 68, 242, 0.87);
  --colour-grey: #88888875;
  --colour-neon: #1ef4ff;
  --colour-gold: gold;

  color: var(--colour-main);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::selection{
  background-color: var(--colour-neon);
}

body{
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  min-height: 100vh;
}
h1 {
  font-family: UnifrakturCook, sans-serif;
  font-size: 7em;
}h2 {
  font-family: UnifrakturCook, sans-serif;
  font-size: 5em;
  margin-block-end: 0;
}
h3 {
  font-family: UnifrakturCook, sans-serif;
  font-size: 4em;
  margin: 10px;
  margin-block-start: -30px;
  margin-block-end: 0;
}
.button-53 {
  background-color: var(--colour-main);
  border: 0 solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: 'Sen Variable';
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53::after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  
}

.button-53:hover {
  bottom: 4px;
  left: 4px;
}

.button-53:hover::after {
  bottom: 0px;
  left: 0px;
}
